Source: mplex
Section: net
Priority: extra
Maintainer: Alexey Korovin <alexey.korovin@spbau.se>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: mplex
Architecture: any
Pre-Depends: openbsd-inetd | inet-superserver | inetutils-inetd
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiplexer program for VNC Server
 The inetd program, receiving OpenVZ container id and says on which
 port client should connect with VNC client.
